name: Deploy to K3s

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy to K3s
      run: |
        sudo k3s kubectl apply -f k8s/namespace.yaml
        sudo k3s kubectl apply -n ai-devops -f k8s/deployment.yaml
        sudo k3s kubectl apply -n ai-devops -f k8s/service.yaml